html,body{
	overflow-x:hidden ;
}
.container{
	padding:0;
}
.clear{
	clear: both;
}
.title{
	font-size:40px;
font-family:MicrosoftYaHei;
font-weight:400;
color:#252B3A;
padding-top:64px;
text-align: center;
padding-bottom:94px;
}


/*产品介绍*/
.Page1{
	padding-bottom: 86px;
	background: url(../images/CooperationRobot/scgr-bg.png) no-repeat;
	background-size:cover;
	padding-top:60px;
	padding-bottom:88px;
}
.Page1 .title{
	
}
.Page1 .left,
.Page1 .right{
	padding-top:116px;
}
.Page1 .circle{
	display: inline-block;
	width:12px;
	height:12px;
	background: #039BE5;
	border-radius: 50%;
	vertical-align: middle;
	margin-right:15px;
}

.Page1 ul li{
	margin-bottom:39px;
	font-size:18px;
	font-weight: 400;
	text-align: left;
}
/*产品参数*/
.Page2{
	background:#fff;
	
	padding-bottom:100px;
}
.Page2 .title{
	padding-top:59px;
	padding-bottom:70px;
}
.Page2 .text{
	font-size:18px;
	color:#333;
	padding:0 20px;
	padding-top:60px;
	line-height:35px;

}
/*产品优势*/
.Page3{
	padding-bottom:48px;
	background: #FAFAFA;
}
.Page3 .com{
	margin-bottom:20px;
   padding: 0 20px 20px 20px;
	
}
.Page3 .right{
	padding-top:55px;
}
.Page3 .com .name{
	font-size:18px;
	color:#333;
}
.Page3 .com .name img{
	padding-right:20px;
}
.Page3 .com  .text{
	padding-top:12px;
	font-size:14px;
	line-height:24px;
	padding-bottom:20px;
	border-bottom: 1px solid #E6E6E6;
}

/*产品用途*/
.Page4{
	background: #ECEFF1;
	padding-bottom:48px;
	    margin-bottom: 450px;
}
.Page4 .container{
	padding:0;
	position: relative;
}
@media only screen and (max-width:992px ){
	.container {
	    width: 970px 
	}
}
@media only screen and (max-width:768px ) {
.container {
    width:100% !important;
}

	.title {
    font-size: 30px;
    padding-top: 64px;
    padding-bottom: 24px;
}
	.Page1 .left, .Page1 .right {
    padding-top: 26px;
}
	.Page1 ul li {
    margin-bottom: 28px;
    font-size: 16px;
}
.Page1 img,
.Page2 img,
.Page3 img,
.Page4 img{
	width:100%;
}	
.Page2 .text {
    font-size: 16px;
    color: #333;
    padding: 0 20px;
    padding-top: 30px;
    line-height: 35px;
}
.Page2 .title {
    padding-top: 40px;
    padding-bottom: 35px;
}
.Page3 .right img{
	width:auto;
}
.f16{
	font-size: 14px;
}
.f18{
	font-size: 16px;
}
.f24{
	font-size: 18px;
}
.f34{
	font-size: 24px;
}
.f30{
	font-size: 20px;
}
.FitScene .title .s1{
	font-size:25px;
}
.Tooling_custom{
	padding:30px 0;
}
.control_steam{
	padding:30px 0;
}
.product_feature{
	padding:30px 0;
}
.hidden-lg{
	display: none;
}

}