/*产品*/
.f5{background: #f5f5f5;}
.container.index-model-box{padding: 13px 0;}
.index-model-tit{color: #013E8D;font-size: 36px;}
.index-model-twotit{vertical-align: super; margin-left: 30px;}
.index-product-box{background:#fff z-index: 1;}
.product-box{position: relative;}
.gy-bg{background: #fff url(../images/index/gywlw.png) no-repeat;}
.zn-bg{background: #fff url(../images/index/znjqr.png) no-repeat 100%}
.znzz-bg{background: #fff url(../images/index/znzz.png) no-repeat;} 
.cxwy-bg{background: #fff url(../images/index/cxwy.png) no-repeat 100%;} 
.glzx-bg{background: #fff url(../images/index/glzx.png) no-repeat ;} 
.gxrc-bg{background: #fff url(../images/index/gxrc.png) no-repeat 100%;} 
.gfzcl-bg{background: #fff url(../images/index/gfzcl.png) no-repeat;} 
.product-logo{margin-bottom: 31px;}
.product-text-box{width: 45%;}
.product-text-box .mb25{margin-bottom: 22px;}
.product-text-box h3{margin-top: 30px;}
.product-text-box h3.mb30{margin-bottom: 28px;}
.product-box-img{width:50%;position: absolute;right: 0;top: 0;}
.product-logo{position: absolute;bottom: 0px;}
.mt8{margin-top: 8px;}

/*新闻资讯*/
.news-big-box{background: #fff;padding-bottom: 60px;}
.container.news-big-tit{margin:auto ;padding: 60px 0 50px;text-align: center;}
.news-big-tit a{display: inline-block;font-size: 24px;color: #999999;padding: 0 15px 15px;margin: 0 20px;}
.news-big-tit a:hover{color:#EA5223 ;}
.news-date a:hover{color:#EA5223 ;}
.news-big-tit a.active{border-bottom:2px solid #EA5223 ;color: #EA5223}
.news-big-lt-outbox{display: block;width: 600px;height: 650px;border: 1px solid #e6e6e6;border-radius: 4px;padding: 10px;box-sizing: border-box;}
.news-big-lt-outbox h4:hover{color: #EA5223;}
.news-big-lt-outbox img{display: block;margin: auto;}
.news-big-rt-outbox{width: 570px;height: 650px;}
.news-sm-box{border-bottom: 1px solid #e6e6e6;padding: 15px 0;}
.news-date{text-align: right;margin-bottom: 20px;}
.news-date a{font-size: 18px;color: #666;margin-left: 35px;}
.news-date a.active{color:#EA5223;}
.news-sm-box h4 a{color:#333 ;}
.news-sm-box h4 a:hover{color: #EA5223;}
/*容商天下*/
.rongbiz-big-box{background:#fff url(../images/index/rsjtb.png) no-repeat 100%;height: 1296px;padding: 76px 0 30px;}
.rongbiz-sm-img{width: 400px;height: 250px;}
.rongbiz-sm-text{width: 800px;height: 250px;padding: 62px 25px 65px 22px;box-sizing: border-box;background:rgba(255,255,255,1);opacity:0.9;}
.rongbiz-sm-box{overflow: hidden;margin-bottom: 40px;}
/*超小屏幕*/
@media (max-width:420px) { 
	.product-box img.product-box-img{width: 100%;height: 200px;}
	
}
/*小屏*/
@media (min-width:420px) and (max-width:768px) { 
	.product-box img.product-box-img{width: 100%;height: 250px;}
}
@media (max-width:768px) {
	.index-model-tit{font-size: 24px;}
	.product-logo{display: none;}
	.product-box-img{top: inherit;}
	 .product-text-box .mb25 img{vertical-align: middle!important;} 
	.product-box .product-text-box{width: 100%;}
	.product-box img.product-box-img{position: static;}  
	.news-big-lt-outbox h4.mt30,.news-big-lt-outbox .mt20{margin-top: 15px;}
	.news-date a{font-size: 15px;}
	.container.news-big-tit{padding: 30px 0 20px;}
	.news-big-tit a{font-size: 20px;}
	.news-sm-box>img{height: 110px;}
	.rongbiz-sm-text{padding: 30px 15px;}
	.rongbiz-sm-text.f16{font-size: 15px;}
	
}
/*中屏*/
@media (min-width:768px) and (max-width:1200px){
	.product-box img.product-box-img{width: 50%;}
	.index-model-tit{font-size: 26px;}
	.product-text{width: 100%;}
	.product-text-box{min-height: 340px;}
	
	
}
@media (max-width:610px) {
	.news-big-lt-outbox img{width: 100%;}
}
@media (max-width:1200px) { 
	body .container{width: 100%;}
	.product-box{padding:0 15px;box-sizing: border-box;}
	.product-box .product-logo{display: none;}
	.product-box.gxrc-bg{background:#fff;}
	.news-big-lt-outbox,.news-big-rt-outbox{width: 100%;}
	.container .news-big-rt-outbox{margin-left: 0;padding:0 15px;box-sizing: border-box;margin-top: 20px;}
	.news-big-rt-outbox .f18{font-size: 16px;}
	.container .news-big-lt-outbox,.container .news-big-rt-outbox{height: auto;}
	.rongbiz-sm-img{position: absolute;}
	.rongbiz-sm-text{width: 100%;}

}
/*大屏*/
@media (min-width:1200px) { 
	body .container{width: 1200px}
	body .container-fluid{padding-left:0;padding-right: 0;}
	.product-text{width: 1200px;margin: auto;}
	.product-text-second .product-text-box{width: 50%;float: right;}
	.product-second-img{left: 0;}
	.product-text-second .product-text-box{padding-left: 100px;}
	.product-box{height: 529px;}
	.product-text-indent{text-indent: 50px;}
}